@model ForgetPasswordViewModel
@{
    ViewData["Title"] = "ForgetPassword";
}



<div class="main-agileinfo">

    <div class="agileits-top">
        <form asp-action="ForgetPassword">
            <input class="text email" type="email" asp-for="@Model.Email" placeholder="Email" required="" />
            <span asp-validation-for="@Model.Email" class="alert-danger"></span>
            <input type ="submit" value="FORGET PASSWORD" />
        </form>
    </div>
</div>